.custom {
  padding-top: 35px;
}

.upload-wrapper {
 
  background: url('../../Images//camera.svg') no-repeat;
  /* background-size: cover; */
  /* display: block; */
  position: relative;
  width: auto;
  height: 23px;
  left: -25px;
  top: 30px;
}
.group-wrapper {
  background: url('../../Images//camera.svg') no-repeat;
  /* background-size: cover; */
  /* display: block; */
  position: relative;
  width: auto;
  height: 23px;
  left: 98%;
  top: 30px;
}

#group_filed {
  width: 25px;
  height: 25px;
  opacity: 0;
  filter: alpha(opacity=0); /* IE 5-7 */
}
.badge-tag{
 height: 20px;
 border-radius: 50%;
 border: 3px solid #ced0d4;
}


@media screen and (max-width: 575px) {
  .custom {
    width: 100%;
  }
}
.icon-clr{
  color: blue
}
.group-cover{
    width: 850px;
    height: 312px;
  
  
}

@media(max-width: 767px) {
  .group-post-input{
    width: 100%;
  }
}

@media(max-width: 767px) {
  .setting-section{
    margin-top: 15px;
  }
}