.custom {
  padding-top: 63px;
}

.badge-wrapper {
  border-radius: 50%;
  border: 2px solid #ced0d4; 
  background-size: cover;
  /* display: block; */
  position: relative;
  width: auto;
  height: 30px;
  left: -25px;
  top: 30px;
}


@media screen and (max-width: 575px) {
  .custom {
    width: 100%;
  }
}
.icon-clr{
  color: blue
}
.group-cover{
    width: 850px;
    height: 312px;
  
  
}

@media(max-width: 767px) {
  .group-post-input{
    width: 100%;
  }
}

@media(max-width: 767px) {
  .setting-section{
    margin-top: 15px;
  }
}