.profile_conatiner {
  padding-top: 33px;
}

.name {
    font-size: 23px;
    font-weight: bold;
  }
  
  /* Navigation button */
  
  .fb-box-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
  }
  
  .NavLink {
    color: none;
    font-weight: 500;
  }
  
  .NavLink:active,
  .NavLink:visited {
    color: hsl(214, 89%, 52%);
    border-bottom: 2px solid hsl(214, 89%, 52%) !important;
    padding-bottom: 2px;
  }
  
  
  .nav-tab {
    border-bottom: none !important;
    margin: auto;
    width: 84%;
    padding: 8px;
  }
  .cover-shadow-effect {
    box-shadow: 0 4px 2px -2px rgb(216, 216, 216);
   
  }
  .nav-border{
    border-bottom: 1px solid #9a9ba0;
  }


  /*---- Upload Badge--- */

.plus-icon{
  font-size: 10px !important; 
  color: white !important;

}

/* .cover-edit img {
  height: 20px;
  position: relative;
  top: 25px;
  left: -33px;
} */

.wrapper {
  background: url('../../Images/camera.svg') no-repeat;
  background-size: cover;
  position: relative;
  width: 26px;
  height: auto;
  left: 96%;
  top: 30px;
}
#image_filed {
  width: 24px;
  height: 24px;
  opacity: 0;
  filter: alpha(opacity=0); /* IE 5-7 */
}


#user-profile-image_filed {
  width: 26px;
  height: 26px;
  opacity: 0;
  filter: alpha(opacity=0); /* IE 5-7 */
}

@media (min-width: 320px){
.user-profile {
  background: url('../../Images/camera.svg') no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  width: 24px;
  height: 21px;
  left: 67%;
  bottom: 50px;
}
}

@media (min-width: 375px){
  .user-profile {
    background: url('../../Images/camera.svg') no-repeat;
    background-size: cover;
    position: relative;
    width: 24px;
    height: 21px;
    left: 65%;
    bottom: 50px;
  }
  }
 
    @media (min-width: 425px){
      .user-profile {
        background: url('../../Images/camera.svg') no-repeat;
        background-size: cover;
        display: block;
        position: relative;
        width: 24px;
        height: 21px;
        left: 63%;
        bottom: 50px;
      }
      }
      @media (min-width: 768px){
        .user-profile {
          background: url('../../Images/camera.svg') no-repeat;
          background-size: cover;
          display: block;
          position: relative;
          width: 24px;
          height: 21px;
          left: 60%;
          bottom: 50px;
        }
        }
        @media (min-width: 1024px){
          .user-profile {
            background: url('../../Images/camera.svg') no-repeat;
            background-size: cover;
            display: block;
            position: relative;
            width: 24px;
            height: 21px;
            left: 56%;
            bottom: 52px;
          }
          }
          @media (min-width: 1440px){
            .user-profile {
              background: url('../../Images/camera.svg') no-repeat;
              background-size: cover;
              display: block;
              position: relative;
              width: 24px;
              height: 21px;
              left: 519px;
              bottom: 50px;
            }
            }
  
